.wrapper--producer{
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px red;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover{
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ff0000, 0 0 40px #ff0000;
    color: red;
  }
}