.wrapper--header {

  border-bottom: 1px solid red;
  height: 80px;

  .header__search {
    max-width: 90%;
    position: relative;
    left: 150px;
    bottom: 43px;


    .search__logo {
      position: absolute;
      top: 5px;
      right: 150px;
      font-size: 25px;
      color: red;
    }


    input {
      outline: none;
      border: none;
      width: 90%;
      background-color: transparent;
      color: white;
      border-bottom: 0.5px solid red;
      border-radius: 1px;
      font-size: 25px;
      height: 30px;
      opacity: .5;

      &:focus {
      opacity: 1;

      }
    }

  }

}