
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url("https://img.freepik.com/free-photo/abstract-smoke-wallpaper-background-for-desktop_53876-133383.jpg?size=626&ext=jpg&ga=GA1.1.250031196.1673637434");
  background-size: 100% 100%;
  min-height: 800px;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
